@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes rotate {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes cloud-anima {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
    50% {-webkit-transform: translate(20px, 0px);transform: translate(20px, 0px);}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}

}

@keyframes cloud-anima {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
    50% {-webkit-transform: translate(20px, 0px);transform: translate(20px, 0px);}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}

}


body {
    margin:0px;
    padding: 0px;
}

/* ------- HOMEPAGE -------- z-index 0 */
.homepage {
    z-index: 0;
    width:100vw;
    height:100%;
    top:0px;
    left:0px;
    background-image: url(../img/home-background.svg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    background-position: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.homepage-container {
    width: 70%;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

}

.logo {
    width: 100%;
    display: block;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.homepage-buttons-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}

.homepage-buttons-container button {
    display: block;
    width: 100%;
    color: white;
    font-family: 'Righteous';
    font-size: 2.5em;
    padding: 3px 0px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 5px 0px white;
            box-shadow: 2px 5px 0px white;
    border: none;
}

#button-start {
    background-color: #5FD92B;
    margin-bottom: 15px;
}

#button-tutorial {
    background-color: #F7931E;
}

.homepage-des {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-family: 'Montserrat Medium';
    font-size: 1.2em;
    color: rgb(60,60,60);
    text-align: center;
    color: white;
    margin-top: 10%;
}


/*-----Menu-----*/
.back-button {
    z-index: 31;
    position: fixed;
    width: 23px;
    height: auto;
    top: 10px;
    left: 13px;
    display: none;
}

.hbg-menu {
    z-index: 30;
    position: fixed;
    width: 50px;
    height: auto;
    right: 15px;
    top: 15px;
    display: none;
}

.hbg-menu-list {
    z-index: 31;
    position: fixed;
    width: 100vw;
    top: -100vh;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    background-color: rgba(30,30,30,0.8);
}

.closemenu {
    width: 80px;
    margin: 0 auto ;
    display: block;
    padding: 15px;
}

.hbg-menu-item {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Montserrat Medium';
    color: white;
    padding: 15px 10px;
/*    border-bottom: 2px solid white;*/
}




/* ------ MAP PAGE -------z-index 1-5*/

.map-page, .tutorialmap,.map-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.map-page, .tutorialmap {
  z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 100%;
    background-image: url(../img/map-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}


.map-container {
    width: 90%;
}

.map {
    margin-bottom: 30%;
    z-index: 1;
}

.map-button-container button {
    z-index: 3;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat Semi-Bold';
    font-size: 1.7em;
    color: white;
    padding: 8px;
    margin: 7px 0px;
    border: none;
    border-radius: 30px;
    -webkit-box-shadow: 3px 5px 0px white;
            box-shadow: 3px 5px 0px white;
}

#north-america-button {
    background-color: #F78330 ;
}

#north-pole-button {
    background-color: #45ABE1;
}

#amazon-button {
    background-color: #5FD92B;
}

#antarctica-button {
    background-color: #8A77B5;
}


/* ------- Land and Ocean Page ------------- z-index 5-10 */
.L-n-O-page {
  z-index: 5;
  width:100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  overflow: hidden;
}

.L-n-O-pagewrap, .tutorial-NA {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../img/northamerica/NA-bg.svg);
    background-repeat: no-repeat;
    background-size: auto 115%;
    background-position: center;
    -webkit-transition: background-position 1s;
    transition: background-position 1s;
}

.cloud{
    position:absolute;
    -webkit-animation: cloud-anima 3s infinite;
            animation: cloud-anima 3s infinite;
    z-index: 10;
    -webkit-transition: left 1s;
    transition: left 1s;
}

.cloud-right {
    width: 80%;
    top: 10%;
    left: 70%;
}

.cloud-middle {
    width:50%;
    top: 5%;
    left: 30%;
}

.cloud-left {
    width:80%;
    top: 5%;
    left: -100%;
}


.sun {
    width: 40%;
    position: absolute;
    top: -8%;
    left:30%;
    -webkit-animation: rotate 5s infinite;
            animation: rotate 5s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transition: left 1s;
    transition: left 1s;
}

.LnO-button {
    height: 10%;
    width: auto;
    position: absolute;
    z-index: 6;
}

#land {
    left: 10%;
    top: 35%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#ocean {
    right: 10%;
    bottom: 10%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.land-animals button, .ocean-animals button {
    font-size: 1.5em;
    font-family: 'Montserrat Semi-Bold';
    background-color: #F78330;
    color: white;
    padding: 7px 20px;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 0px white;
            box-shadow: 4px 4px 0px white;
    margin: 20px 0px;
    border: none;
}

.land-animals, .ocean-animals {
    z-index: 6;
    width: 80%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    position: absolute;
    left: 10%;
}

.land-animals {
    top: 38%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: left 1s;
    transition: left 1s;
    left: -100%;
}

.ocean-animals {
    top: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: left 1s;
    transition: left 1s;
    left: 150%;
}


.animal1, .animal2, .animal3, .animal4 {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.animal1 {
    width:50%;
}

.animal2 {
    width: 50%;
    padding-left: 30px;
}

.animal3 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.animal4 {
    width: 50%;
}


/*----------  Aniaml Page ---------- zindex 10+*/
#animal-page {
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 100%;
    position: fixed;
    background-image: url(../img/northamerica/animal-page/OtterHabitat.svg);
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-transition: left 0.5s;
   transition: left 0.5s;
}

#speechbubble {
    z-index: 50;
    background-color: white;
    border: #F78330 solid 3px;
    border-radius: 30px;
    width: 90%;
    margin-left: 2%;
    margin-top: 60px;
    position: absolute;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 14pt;
    overflow: auto;
    font-family: 'Montserrat Medium';
}

#animal {
    height: auto;
    width: 75%;
    position: absolute;
    left: 10%;
    top: 25%;
}


.food {
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    top: 60%;
    left: 6%;
    z-index: 15;
}

.foodMenu {
    background-color: white;
    border: #F78330 solid 3px;
    border-radius: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    position: absolute;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.foodItem {
    text-align: center;
}

.foodItem > img {
    z-index: 15;
    height: 7vh;
    padding: 20px 10px 14px 10px;
    margin: -10px;
}

.foodItem p {
    font-family: 'Montserrat Medium';
    margin: 0px 0px 8px 0px;

}

.buttons {
    z-index: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 95%;
    width: 100%;
}

.animal-button > img {
    padding: 2vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 13vh;
    bottom: 100px;
}

.animal-button > p {
    color: white;
    font-size: 16pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat Medium';
}
/*---- pop up -----*/
.quiz-popup {
    z-index: 20;
    background-color: white;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 35%;
    border-radius: 25px;
    text-align: center;
    font-family: 'Montserrat Medium';
    font-size: 1.3em;
    display: none;
}

.quiz-popup p {
    margin: 20px 15px 0px 15px;
}

.quiz-popup button {
    font-size: 1.3em;
    padding: 5px 20px;
    margin: 10px 5px;
    font-family: 'Montserrat Medium';
    border-radius: 30px;
    border:none;
    color: white;
    background-color: darkgrey;
}

.quiz-popup button:nth-child(3){
    background-color: #5FD92B;
}



/* ------ Quiz Page ---------*/
.quiz-page {
    z-index: 13;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0px;
    font-family: 'Montserrat Medium';
    font-size: 1.3em;
    background-color: orange;
    transition: left 0.5s;
}

.quiz-wrap {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.quiz-animal{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}

.quiz-area {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.quiz-q {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 20px;
    border: 4px solid #F78330;
    padding: 10px;
}

.quiz-a div {
    border: 4px solid #F78330;
    background-color: white;
    border-radius: 15px;
}

.quiz-a {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
