@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

.page {
    width:100vw;
    height:100%;
    top:0px;
    left:0px;
    background-image: url(img/home-background.svg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}


.main {
    width: 70%;
    height: 80%;
    flex-direction: column;
    display:flex;
    align-items: flex-star
}

.logo {
    width: 100%;
    display: block;
    flex: 2;
}


.buttons-container {
    flex: 1;
    width: 100%;
}

.button {
    display: block;
    width: 100%;
    color: white;
    font-family: 'Righteous';
    font-size: 2.5em;
    padding: 3px 0px;
    border-radius: 20px;
    box-shadow: 2px 5px 0px white;
    border: none;
}

#button-start {
    background-color: #5FD92B;
    margin-bottom: 15px;
}

#button-tutorial {
    background-color: #F7931E;
}


.des {
    flex: 1;
    font-family: 'Montserrat Medium';
    font-size: 1.2em;
    color: rgb(60,60,60);
    text-align: center;
    color: white;
    margin-top: 10%;
}