@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
#app {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-image: url("Otter_SVGs/OtterHabitat.svg");
    background-size: 115% auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*-----------------*/
#teachbox {
    font-size: 1.3em;
    background-color: white;
    position: absolute;
    width: 60%;
    left: 15%;
    top:50%;
    opacity: 1;
    border: 3px solid #65C8D0;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin: 0px;
    -webkit-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    z-index: 10;
}


@-webkit-keyframes upd{
    0% {-webkit-transform: scale(1,1);transform: scale(1,1);}
    50% {-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}
    100% {-webkit-transform: scale(1,1);transform: scale(1,1);}
}


@keyframes upd{
    0% {-webkit-transform: scale(1,1);transform: scale(1,1);}
    50% {-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}
    100% {-webkit-transform: scale(1,1);transform: scale(1,1);}
}

@-webkit-keyframes finger {
    0% {-webkit-transform:translate(0px, 0px);transform:translate(0px, 0px);}
    50% {-webkit-transform:translate(0px, 15px);transform:translate(0px, 15px);}
    100% {-webkit-transform:translate(0px, 0px);transform:translate(0px, 0px);}
}

@keyframes finger {
    0% {-webkit-transform:translate(0px, 0px);transform:translate(0px, 0px);}
    50% {-webkit-transform:translate(0px, 15px);transform:translate(0px, 15px);}
    100% {-webkit-transform:translate(0px, 0px);transform:translate(0px, 0px);}
}


#finger {
    position: fixed;
    width: 10%;
    left: 17%;
/*    left: 74%;*/
    bottom: 25%;
    -webkit-animation:finger 1s infinite;
            animation:finger 1s infinite;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

/*
#talkButton {
    animation: finger 1s infinite;
}

#feedBut {
    animation: none;
}
*/


/*-----------------*/
#homebut {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.hbg-menu {
    z-index: 30;
    position: fixed;
    width: 50px;
    height: auto;
    right: 15px;
    top: 15px;
}

.hbg-menu-list {
    z-index: 31;
    position: fixed;
    width: 100vw;
    top: -100vh;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    background-color: rgba(30,30,30,0.8);
}

.closemenu {
    width: 80px;
    margin: 0 auto ;
    display: block;
    padding: 15px;
}

.hbg-menu-item {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Montserrat';
    color: white;
    padding: 15px 10px;
/*    border-bottom: 2px solid white;*/
}

#speechbubble {
    background-color: white;
    border: #F78330 solid 3px;
    border-radius: 30px;
    width: 90%;
    margin-left: 2%;
    margin-top: 18%;
    position: absolute;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 14pt;
    overflow: auto;
}

.otter {
    height: 75%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#otter {
    height: auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.food {
    width: 100%;
    height: 72%;
    display: none;
    position: fixed;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.foodMenu {
    background-color: white;
    border: #F78330 solid 3px;
    border-radius: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    position: fixed;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.foodItem > img {
    z-index: 5;
    height: 6vh;
    padding: 20px 10px 15px 15px;
    margin: -10px;
}



.foodItem p {
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    margin-bottom: 10px;
}

.buttons {
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 95%;
    width: 100%;
}

#button > img {
    padding: 2vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 13vh;
    bottom: 100px;
}

#button > p {
    color: white;
    font-size: 16pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* quiz*/
.quiz-page {
    z-index: 13;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    font-weight: 600;
    font-size: 1.3em;
    background-image: url(../img/quiz-bg.svg);
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    background-size: cover;
    background-repeat: no-repeat;

}

.quiz-wrap {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.result {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index:2;
    background-repeat: no-repeat;
    background-size: 102% auto;
    display: none;
}

.end-quiz {
    background-color: white;
    color: lightseagreen;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.4em;
    position: fixed;
    width: 70%;
    border-radius: 30px;
    padding: 10px;
    left: calc(15% - 5px);
    bottom: 50px;
    border: none;
}

.quiz-animal{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}

.quiz-area {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
}

.quiz-q {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 20px;
    border: 4px solid #F78330;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.quiz-a > div {
    border: 4px solid #F78330;
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-a div img {
    width: 60%;
}

.quiz-a {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}


@media (min-width: 768px) and (max-width: 1025px){
    
    #speechbubble {
        position: absolute;
        font-size: 1.5em;
        margin-top: 100px;
        max-width: 500px;
        left: calc(50% - 280px);
    }
    
    .quiz-area {
        font-size: 1.5em;
        max-width: 90%;
    }
    
    
    #teachbox {
        font-size: 1.6em;
    }
    
    .end-quiz {
        width: 50%;
        left: 25%;
        bottom: 65px;
        min-height: 70px;
        
    }
    
    .result {
        background-size: 94% auto;
        background-repeat: repeat-x;
    }
    
    
    
}