@font-face{
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'Montserrat Semi-Bold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@keyframes turtleIn {
    from {left: -80%; top:-30%;}
    to {left: -10%; top: 40%;}
}

@keyframes turtleInMap {
    from {left: -100%; }
    to {left: -40%;}
}

@keyframes turtleInNA {
    from {left: 100%; top: 100%;}
    to {left: 30%; top: 50%;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left:0px;
    top:0px;
    background-image: url(images/tutorial-welcome-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#homebut {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.talkbox {
    font-family: 'Montserrat Medium';
    font-size: 1.3em;
    background-color: white;
    position: absolute;
    width: 60%;
    left: 15%;
    top:10%;
    opacity: 0;
    border: 3px solid #65C8D0;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: 0px;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.talkbox button {
    display:block;
    margin: 0 auto;
    width: 80%;
    font-family: 'Montserrat Semi-Bold';
    font-size: 1em;
    padding: 10px 10px;
    background-color: #65C8D0;
    color: white;
    border-radius: 30px;
    margin-top: 10px;
    border: none;
}

.talkbox-map {
    font-family: 'Montserrat Medium';
    font-size: 1.3em;
    background-color: white;
    position: absolute;
    width: 55%;
    left: 30%;
    top: 9%;
    opacity: 0;
    border: 3px solid #65C8D0;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: 0px;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    z-index: 5;
}

.talkbox-NA {
    font-family: 'Montserrat Medium';
    font-size: 1.3em;
    background-color: white;
    position: absolute;
    width: 55%;
    left: 20%;
    top:10%;
    opacity: 0;
    border: 3px solid #65C8D0;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: 0px;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    z-index:11 ;
}

.turtle {
    width: auto;
    height: 60%;
    position:  absolute;
    left: -10%;
    top: 40%;
    animation: turtleIn 1s forwards;
    z-index: -1;
}

.turtle-map {
    width: auto;
    height: 60%;
    position:  absolute;
    left: -40%;
    top: 30%;
    animation:turtleInMap 1s forwards ;
    z-index: 1;
}

.turtle-NA {
    width: auto;
    height: 60%;
    position:  absolute;
    animation:turtleInNA 1s forwards ;
    z-index: 1;
    transform: scale(-1,1);
}

@media (min-width: 768px) and (max-width: 1025px){
    
    @keyframes turtleInMap {
    from {left: -100%; }
    to {left: 0%;}
    }
    
    
    
}


