@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}