@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

#app,.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


#app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(images/map-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    width: 90%;
}

.map {
    margin-bottom: 30%;
    z-index: -1;
}

.buttons {
    z-index: 2;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat Semi-Bold';
    font-size: 2em;
    color: white;
    padding: 5px;
    margin: 7px 0px;
    border: none;
    border-radius: 30px;
    -webkit-box-shadow: 3px 5px 0px white;
            box-shadow: 3px 5px 0px white;
}

#north-america {
    background-color: #F78330 ;
}

#north-pole {
    background-color: #45ABE1;
}

#amazon {
    background-color: #5FD92B;
}

#antarctica {
    background-color: #8A77B5;
}
