@font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#app {
    width: 100vw;
    height: 100vh;
    position:fixed;
    left: 0px;
    top: 0px;
    background-image: url(images/Amazon-bg.svg);
    background-repeat: no-repeat;
    background-size: auto 115%;
    background-position:center;
    transition: background-position 1s;
}

.sun {
    width: 40%;
    position: absolute;
    top: -8%;
    left:30%;
    animation: rotate 5s infinite;
    animation-timing-function: linear;
    transition: left 1s;
}

.button {
    height: 10%;
    width: auto;
    position: fixed;
    z-index: 4;
}

#land {
    left: 10%;
    top: 30%; 
    opacity: 1;
    transition: opacity 0.5s;
}

#ocean {
    right: 10%;
    bottom: 20%;
    opacity: 1;
    transition: opacity 0.5s;
}

.buttons {
    font-size: 1.5em;
    font-family: 'Montserrat Semi-Bold';
    background-color: #F78330;
    color: white;
    padding: 7px 20px;
    border-radius: 30px;
    box-shadow: 4px 4px 0px white;
    margin: 20px 0px;
    border: none;
}

.land-animals, .ocean-animals {
    z-index: 3;
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    position: absolute;
    left: 10%;
}

.land-animals {
    top: 35%;
    align-items: flex-end;
    transition: left 1s;
    left: -200%;
}

.ocean-animals {
    top: 50%;
    align-items: flex-start;
    transition: left 1s;
    left: 150%;
}

.otter {
    width:50%;
}

.beaver {
    width: 45%;
}

.jellyfish {
    width: 30%;
}

.orca {
    width: 40%;
}
